@import '../../style/mixins';

.news {

    &-start {
        position: relative;
        padding-top: 41.7rem;
        background: #121212;
        color: #FFFFFF;
        height: 69rem;

        @include respond(sm) {
            padding-top: 4.5rem;
            height:  36rem;

            .container{
                padding: 0 2rem;
            }
        }


        .heading-primary {
            position: relative;
            margin-bottom: 6rem;
            color: #FFFFFF;
            z-index: 100;
            font-weight: 500;
            max-width: 100rem;

            @include respond(sm) {
                margin-top: 4.5rem;
            }
        }

        &__video {

            video {
                width: 100%;
                position: absolute;
                height: 69rem;
                top: 0;
                object-fit: cover;

                @include respond(sm) {
                    height: 100%;
                    max-height:  36rem;
                }
            }
        }

    }

    &-main {
        padding: 9.4rem 0 6rem;
        position: relative;

        @include respond(sm) {
            padding: 6rem 0;
        }

        .heading-primary {
            margin-bottom: 4rem;

            @include respond(sm) {
                margin-bottom: 6rem;
            }
        }
    }

    &__filters {
        width: 49%;
        margin-left: auto;
        display: flex;
        gap: 2rem 0 ;
        flex-wrap: wrap;
        margin-bottom: 4rem;

        @include respond(sm) {
            width: 100vw;
            margin-left: -2rem;
            padding: 0 2rem;
            gap: 1rem;
            margin-bottom: 3rem;
            flex-wrap: nowrap;
            overflow-x: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &-btn {
            cursor: pointer;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 1rem;
            transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;

            .type-name {
                font-weight: 500;
                font-size: 2.4rem;
            }

            .num-btn {
                backdrop-filter: blur(12px);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                border: 1px solid #757677;
                color: #757677;
                font-size: 1.6rem;
                gap: 1rem;
                border-radius: 39px;
                padding: 0.6rem 1.3rem 0.5rem 1.3rem;
                .btn {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 1.8rem;
                    font-size: 1.4rem;
                }
            }

            &:after {
                content: "/";
                color: #DBDBDB;
                font-weight: 100;
                font-size: 2rem;
                margin: 0 2rem 0 1rem;
            }

        }
    }

    &__wrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 6rem 4rem;

        @include respond(md) {
            grid-template-columns: repeat(3, .3333334fr);
        }

        @include respond(sm) {
            grid-template-columns: 100%;
            grid-gap: 3rem;
        }
    }

    &__item {
        position: relative;
        overflow: hidden;
        height: 73rem;

        //&:nth-child(n+3):nth-child(-n+6) {
        //
        //}

        &:nth-child(1),
        &:nth-child(2) {
            grid-column: span 2;

            .news__descr {
                max-width: 36rem;
                color: #fff;

                position: absolute;
                bottom: 5rem;
                top: inherit;
                left: 3rem;
                right: 3rem;
                z-index: 100;

                @include respond(sm) {
                    bottom: 0;
                    top: 12rem;

                }
            }
        }

        &:nth-child(6n+7) {
            grid-column: span 2;
            .news__descr {
                max-width: 36rem;
                color: #fff;

                position: absolute;
                bottom: 5rem;
                top: inherit;
                left: 3rem;
                right: 3rem;
                z-index: 100;

                @include respond(sm) {
                    bottom: 0;
                    top: 12rem;

                }
            }
        }

        &:nth-child(6n+12) {
            grid-column: span 2;
            .news__descr {
                max-width: 36rem;
                color: #fff;

                position: absolute;
                bottom: 5rem;
                top: inherit;
                left: 3rem;
                right: 3rem;
                z-index: 100;

                @include respond(sm) {
                    bottom: 0;
                    top: 12rem;

                }
            }
        }

        .news__img-wrap {
            transition: all 0.3s ease-in-out;
            width: 100%;
            display: block;
            height: 100%;
            object-fit: cover;
        }

    }

    &__img-wrap {
        overflow: hidden;
        color: #FFFFFF;
    }

    &__text {
        max-width: 36rem;
        color: #fff;
        border: 1px solid rgb(255, 254, 254);
        border-radius: 45px;
        z-index: 100;
        position: absolute;
        top: 5rem;
        left: 3rem;
        transition: all 0.3s ease-in-out;

        .tag {
            padding: .6rem 1.3rem .5rem;
            font-size: 1.6rem;
            z-index: 100;

            @include respond(sm) {
                font-size: 1.4rem;
                line-height: normal;
            }
        }
    }

    &__descr {
        max-width: 36rem;
        color: #fff;
        position: absolute;
        top: 12rem;
        bottom: inherit;
        left: 3rem;
        right: 3rem;
        z-index: 3;

        @include respond(sm) {
            bottom: 0;
            top: 12rem;

        }

        .name {
            font-weight: 500;
            font-size: 2.8rem;
            line-height: 3.9rem;
            color: #FFFFFF;
            z-index: 100;
            transition: all 0.3s ease-in-out;

            @include respond(sm) {
                font-size: 2rem;
                line-height: 3.1rem;
            }
        }
    }

    &__arrow {
        color: white;
        display: inline-flex;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 43px;
        border: 1px solid white;
        background: rgba(255, 255, 255, 0.03);
        backdrop-filter: blur(12px);
        z-index: 5;

        position: absolute;
        bottom: 5rem;
        right: 4rem;
        transition: transform 0.3s ease-in-out;


        @include respond(sm) {
            padding: 1.5rem;
        }


        .icon {
            width: 3rem;
            height: 3rem;
        }
    }


}