@import '../../../style/mixins';

.services {
    &-s {
        padding: 9.4rem 0 5rem;

        @include respond(sm) {
            padding: 6rem 0 3rem;
        }

        .heading-primary {
            margin-bottom: 6rem;

            @include respond(sm) {
                margin-bottom: 3rem;
            }
        }

        &__wrap {
            display: grid;
            grid-template-columns: .25fr .75fr;
            grid-gap: 4rem;

            @include respond(sm) {
                grid-template-columns: 100%;
                grid-gap: 3rem;
            }
        }

        &__subtitle {
            margin-bottom: 3rem;
            font-weight: 500;
            font-size: 2.8rem;
            line-height: 3.4rem;

            @include respond(sm) {
                margin-bottom: 2rem;
                font-size: 2.6rem;
                line-height: 3.1rem;
            }
        }

        &__dir {
            display: flex;
            align-items: center;

            &-img {
                width: 6rem;
                height: 6rem;
                flex: 0 0 6rem;
                margin-right: 2rem;
                border-radius: 50%;

                @include respond(sm) {
                    width: 4rem;
                    height: 4rem;
                    flex: 0 0 4rem;
                    margin-right: 1.5rem;
                }
            }

            &-name {
                font-size: 2rem;
                line-height: 2.6rem;

                @include respond(sm) {
                    font-size: 1.6rem;
                    line-height: 1.8rem;
                }
            }
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(2, .5fr);
            grid-gap: 2rem;

            @include respond(sm) {
                grid-template-columns: 100%;
                grid-gap: 1rem;
            }
        }

        &__item {
            padding: 4rem;
            background: #F3F4F4;
            position: relative;
            transition: all .5s;

            @include respond(sm) {
                padding: 3rem;
            }

            &:hover {
                background: #FF4D01;
                color: #fff;

                .services-s__icon {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }

        &__icon {
            width: 5rem;
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: #FFFFFF;
            position: absolute;
            right: 2rem;
            top: 2rem;
            opacity: 0;
            transform: scale(0);
            transition: transform 0.5s cubic-bezier(0.25, 1.75, 0.75, 0.9);

            @include respond(sm) {
                width: 3rem;
                height: 3rem;
                right: 1rem;
                top: 1rem;
            }
        }

        &__name {
            margin-bottom: 0.9rem;
            font-weight: 500;
            font-size: 2.8rem;
            line-height: 3.4rem;

            @include respond(sm) {
                font-size: 2.6rem;
                line-height: 3.1rem;
            }
        }

        &__descr {
            line-height: 1.8rem;
        }
    }

    &-reviews {
        padding-top: 10rem;

        @include respond(sm) {
            padding-top: 6rem;
        }

        .heading-secondary {
            margin-bottom: 6rem;

            @include respond(sm) {
                margin-bottom: 3rem;
            }
        }

        &__item {
            display: grid;
            grid-template-columns: repeat(4, .25fr);
            grid-gap: 4rem;
            align-items: center;
            padding-bottom: 2rem;
            border-bottom: 1px solid rgba(25, 27, 29, 0.3);
            position: relative;
            cursor: pointer;

            @include respond(sm) {
                grid-template-columns: 7rem auto max-content;
                grid-gap: 0 1.5rem;
            }

            &:hover {

                .services-reviews__name,
                .services-reviews__s,
                .services-reviews__type {
                    transform: translateX(4rem);

                    @include respond(sm) {
                        transform: none;
                    }
                }

                .services-reviews__file {
                    opacity: 0.6;

                    @include respond(sm) {
                        opacity: 1;
                    }
                }

                .services-reviews__r {
                    opacity: 1;
                    transform: scale(1);
                    transition: all 0.6s cubic-bezier(0.25, 1.75, 0.75, 0.9);
                }
            }

            &:not(:last-child) {
                margin-bottom: 2rem;

                @include respond(sm) {
                    margin-bottom: 1.5rem;
                }
            }
        }

        &__name {
            font-weight: 500;
            font-size: 2.8rem;
            line-height: 3.4rem;
            transition: transform 0.6s cubic-bezier(0.25, 1.75, 0.75, 0.9);

            @include respond(sm) {
                margin-bottom: 1rem;
                font-size: 2.6rem;
                line-height: 3.1rem;
                grid-column: 2/3;
            }
        }

        &__s {
            font-size: 2rem;
            line-height: 2.6rem;
            opacity: 0.6;
            transition: transform 0.6s cubic-bezier(0.25, 1.75, 0.75, 0.9);

            @include respond(sm) {
                margin-bottom: 0.5rem;
                font-size: 1.6rem;
                line-height: 1.8rem;
                grid-column: 2/3;
            }
        }

        &__type {
            font-size: 2rem;
            line-height: 2.6rem;
            transition: transform 0.6s cubic-bezier(0.25, 1.75, 0.75, 0.9);

            @include respond(sm) {
                font-size: 1.6rem;
                line-height: 1.8rem;
                grid-column: 2/3;
            }
        }

        &__file {
            font-size: 2rem;
            line-height: 2.6rem;
            justify-self: end;
            transition: opacity 0.6s cubic-bezier(0.25, 1.75, 0.75, 0.9);

            @include respond(sm) {
                align-self: end;
                margin-bottom: 1.5rem;
                padding: 1.2rem 1rem;
                grid-column: 3/4;
                grid-row: 1/span 4;
                background: #F3F4F4;
                border-radius: 38px;
                font-size: 1.6rem;
                line-height: 1.8rem;
            }
        }

        &__r {
            width: 19rem;
            position: absolute;
            right: 10rem;
            top: -8rem;
            opacity: 0;
            z-index: 5;
            transform: scale(0);
            transition: all 0.4s cubic-bezier(0.25, 1, 0.75, 0.9);

            @include respond(sm) {
                grid-column: 1/2;
                transform: scale(1);
                grid-row: 1/span 4;
                width: 7rem;
                opacity: 1;
                position: static;
            }
        }
        .iframe-height {
            height: 27vh;
            overflow: hidden;

            @include respond(lg) {
                height: 23vh;
            }

            @include respond(sm) {
                height: 14vh;
            }

        }

        .iframe-modal-size {
            height: 27vh;
            overflow: hidden;

            @include respond(lg) {
                height: 63vh;
            }

            @include respond(sm) {
                height: 63vh;
            }
        }
    }
}