node_modules
/.idea
/client/src1
/uploads
package-lock.json*
# *.env
/.vscode
/client-next/.next
client-next/app/.DS_Store
client-next/public/.DS_Store
client-next/public/img/.DS_Store
client-next/.DS_Store