@import '../../style/_mixins.scss';

.white {
    color: #FFFFFF;


    .header__discuss {
        border: 1px solid #ffffff;
        &:hover {
            background: #FFFFFF;
            color: #121212;
        }
    }

    .header__burger {
        transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
        background: #FFFFFF;
    }
}

.header {
    padding: 1.9rem 0;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(2px);
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;

    @include respond(sm) {
        padding: 1.5rem 0;
        .container{
            padding: 0 2rem;
        }
    }

    &__wrap {
        display: grid;
        align-items: center;
        grid-template-columns: 0.35fr auto auto 0.45fr;;
        grid-gap: 4rem;

        @include respond(md) {
            display: flex;
            justify-content: space-between;
            grid-gap: 0;
            gap: 4.5rem;
        }

        @include respond(sm) {
            gap: 1.5rem;
            justify-content: flex-start;
        }
    }

    &__logo {
        transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
        margin-right: auto;
        @include respond(sm) {
           margin-right: auto;
        }

        @include respond(xs) {
            margin-right: auto;
        }

        .icon {
            width: 11.3rem;
            height: 7.6rem;

            @include respond(sm) {
                width: 8rem;
                height: 3.2rem;
            }
        }
    }

    &__nav {
        visibility: visible;
        opacity: 1;
        transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
        position: relative;

        &-list {
            display: flex;
            align-items: center;
            font-size: 2.4rem;
            line-height: 2.6rem;
            @include respond(md) {
                font-size: 2rem;
            }
        }

        &-item {
            cursor: pointer;
            position: relative;
            transition: opacity .5s;

            &:hover {
                opacity: 0.5;
            }

            a {
                display: block;

            }

            &:not(:last-child) {
                margin-right: 5.4rem;

                @include respond(sm) {
                    margin-right: 0;
                }
            }

            &:before {
                content: '';
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: calc(100% + 5rem);
                height: calc(100% + 5rem);
            }
        }
    }

    .hidden {
        visibility: hidden;
        opacity: 0;
    }

    &__contacts {
        transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
        justify-self: end;
        display: flex;
        align-items: center;
        margin-right: auto;


        &-link {
            font-size: 2.4rem;
            line-height: 2.6rem;
            transition: opacity .5s;
            @include respond(md) {
                font-size: 2rem;
            }
            &:hover {
                opacity: 0.5;
            }

            &:not(:last-child) {
                margin-right: 5.1rem;
            }
        }
    }

    &__discuss {
        justify-self: end;
        display: flex;
        align-items: center;
        font-size: 2.4rem;
        line-height: 2.6rem;
        background: transparent;
        border: 1px solid #000000;
        backdrop-filter: blur(3px);
        border-radius: 46px;
        margin: 0;
        padding: 1.5rem 2.7rem 1.5rem 2.1rem;
        transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        @include respond(md) {
            font-size: 2rem;
        }

    &:hover {
        background: #121212;
        color: #FFFFFF;
        }

        &-img {
            flex: 0 0 4.5rem;
            width: 4.5rem;
            height: 4.5rem;
            margin-right: 2rem;
            border-radius: 50%;
        }

        &-text {
            transition: opacity .5s;
            white-space: nowrap;
            cursor: pointer;
        }
    }

    &__burger {
        transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
        width: 4rem;
        height: 4rem;
        position: relative;
        border-radius: 34px;
        background: rgba(18, 18, 18, 0.10);

        &.active {
            span {
                top: 1.1rem;
                border-radius: 0;
                width: 2rem;
                height: 0.25rem;
                transform: rotate(-45deg) translate(-1.1rem);

                &::before {
                    border-radius: 0;
                    height: 2px;
                    transform: rotate(90deg) translate(-1rem, -0.1rem);
                }
            }
        }

        span {
            border-radius: 34px;
            width: 0.5rem;
            height: 5px;
            background: #191B1D;
            position: absolute;
            top: 1.3rem;
            right: 45%;
            left: 45%;
            transition: transform .3s;

            &::before {
                border-radius: 34px;
                content: '';
                width: 100%;
                height: 0.5rem;
                position: absolute;
                background: #191B1D;
                top: 1rem;
                left: 0;
                transition: transform .3s;
            }

            @include respond(xss) {
                height: 4px;
            }
        }
    }

    &__menu {
        height: 100%;
        width: 100%;
        padding: 14.6rem 2rem 2rem;

        background: #fff;
        opacity: 0;
        visibility: hidden;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }

        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;

        transition: all .3s;

        &.active {
            opacity: 1;
            visibility: visible;
            z-index: 1000;
        }

        &-wrap {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        &-nav {
            margin-bottom: 8rem;
        }

        &-item {
            font-weight: 500;
            font-size: 2.8rem;
            line-height: 3.4rem;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        &-contacts {
            margin-bottom: auto;
            font-weight: 500;
            font-size: 2.8rem;
            line-height: 3.4rem;

            &-link {
                display: table;
                margin-left: auto;

                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    &__cta {
        margin-bottom: 1rem;
        padding: 1rem 2rem 1rem 1rem;
        display: flex;
        align-items: center;
        background: #F3F4F4;
        border-radius: 58px;
        font-size: 2rem;
        line-height: 2.6rem;

        img {
            width: 4.5rem;
            flex: 0 0 4.5rem;
            height: 4.5rem;
            border-radius: 50%;
            margin-right: 2rem;
        }
    }

    &__presa {
        display: block;
        padding: 1.5rem;
        text-align: center;
        background: #FF4D01;
        border-radius: 45px;
        font-size: 2rem;
        line-height: 2.6rem;
        color: #fff;
    }
}

.myHeader {
    display: flex;
    justify-content: space-between;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown span {
    cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}