.cursor-circle {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #e0fd60; /* Полупрозрачный зеленый цвет */
    /* background-color: #e0fd60e3;  */
    pointer-events: none; /* Чтобы круг не блокировал клики */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Убедись, что круг отображается поверх других элементов */
    transition: transform 0.1s ease-out; /* Плавная анимация */
    transform: translate(-50%, -50%); /* Центрирование круга относительно курсора */
    opacity: 0; /* Скрываем круг по умолчанию */
    transition: opacity 0.1s ease-out; /* Плавная анимация изменения прозрачности */
}

.cursor-circle.visible {
    opacity: 1; /* Отображаем круг при наведении */
}

.arrow-element {
    transition: transform 0.1s ease-out; /* Плавная анимация стрелки */
}

.main-agency__item:hover {
    cursor: none; /* Скрываем стандартный курсор */
}
.main-agency__item-header,
.main-agency__item-service a {
    cursor: none; /* Скрываем стандартный курсор */

}