@import '../../style/_mixins.scss';

.section-social {
    &__wrap {
        padding: 9.5rem 0 7.1rem;
        display: grid;
        grid-template-columns: auto 74.5%;
        grid-gap: 5rem;
        justify-content: space-between;
        border-top: 1px solid rgba(25, 27, 29, 0.3);

        @include respond(md) {
            grid-template-columns: auto 78%;
            grid-gap: 2rem;
        }

        @include respond(sm) {
            padding: 6rem 0;
            grid-template-columns: 100%;
            grid-gap: 3rem;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, .33334fr);
        grid-gap: 4rem;

        @include respond(md) {
            grid-gap: 1rem;
        }

        @include respond(sm) {
            grid-template-columns: 100%;
            grid-gap: 1rem;
        }
    }

    &__item {
        padding: 4rem;

        color: rgba(256, 256, 256, .5);
        transition: background .5s;

        @include respond(md) {
            padding: 3rem 2rem;
        }

        @include respond(sm) {
            padding: 3rem;
        }

        &:nth-child(1) {
            background: #0077FF;

            &:hover {
                background: rgba(0, 119, 255, .8);
            }
        }

        &:nth-child(2) {
            background: linear-gradient(180deg, #2AABEE 0%, #229ED9 9925.83%), #29A9EB;

            &:hover {
                background: linear-gradient(180deg, rgba(42, 171, 238, .8) 0%, rgba(34, 158, 217, .8) 9925.83%), rgba(41, 170, 235, .8);
            }
        }

        &:nth-child(3) {
            background: #0057FF;

            &:hover {
                background: rgba(0, 87, 255, .8);
            }
        }

        img {
            display: inline-block;
            height: 4rem;
            margin-bottom: 2rem;
        }
    }

    &__descr {
        font-size: 2.4rem;
        line-height: 3.4rem;

        @include respond(sm) {
            font-size: 2rem;
            line-height: 2.6rem;
        }
    }
}