@import '../../../style/mixins';

.projects {
    &-start {
        padding-top: 17rem;
        background: #121212;
        color: #FFFFFF;
        height: 69rem;


        @include respond(sm) {
            padding-top: 4.5rem;
            height:  36rem;

            .container{
                padding: 0 2rem;
            }
        }

        .heading-primary {
            position: relative;
            color: #FFFFFF;
            z-index: 100;
            font-weight: 500;
            max-width: 100rem;
            @include respond(sm) {
                margin-top: 4.5rem;
                max-width: 90%;
            }
        }

        &-video {

            video {
                width: 100%;
                position: absolute;
                max-height: 69rem;
                height: 100%;
                top: 0;
                object-fit: cover;

                @include respond(sm) {
                    height: 100%;
                    max-height:  36rem;
                }
            }


        }

        &__filters {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            gap: 20%;
            font-size: 2.8rem;
            font-weight: 500;
            transition: all 0.3s ease-in-out;

            @include respond(sm) {
                font-size: 2rem;
                flex-direction: row;
                gap: 10%;
                align-items: stretch;

            }

            .item {
                cursor: pointer;
                position: relative;
                align-items: center;
                display: flex;
                flex-wrap: nowrap;
                gap: 1rem;
                margin-bottom: 4.5rem;
                transition: all 0.3s ;

                @include respond(sm) {
                    margin-bottom: 2.5rem;
                }

                p {
                    transition: all 1s ;
                    padding-top: 0.5rem
                }

                .icon {
                    width: 3rem;
                    height: 3rem;
                    transition: all 0.3s ;

                    @include respond(sm) {
                        width: 2rem;
                        height: 3rem;
                    }
                }

                .change {
                    color: #757677 !important;
                }

                .active {
                    color: #757677;
                    width: 3rem;
                    height: 3rem;
                    transition: all 0.3s ;
                    opacity: 1;
                    visibility: visible;
                    @include respond(sm) {
                        width: 2rem;
                        height: 2rem;
                    }

                    :nth-child(2) {
                        position: absolute;
                        right: 0;
                    }

                    .projects-menu {
                        opacity: 1;
                        visibility: visible;
                    }

                }

                .inActive {
                    width: 3rem;
                    height: 3rem;
                    transition: all 0.3s ;
                    @include respond(sm) {
                        width: 2rem;
                        height: 2rem;
                    }
                    :nth-child(2) {
                        transform: rotate(90deg);
                        opacity: 1;
                        visibility: visible;
                        position: absolute;
                        right: 0;
                    }
                }

            }
        }
    }

    &-content {
    }

    &-menu {
        padding: 5rem 0 6rem;
        display: grid;
        grid-template-columns: repeat(2, .5fr);
        grid-gap: 4rem;
        transition: all 0.5s ease;
        opacity: 0;
        visibility: hidden;
        max-height: 0;

        :nth-child(1) {
            grid-column: 2;

            @include respond (sm) {
                grid-column: inherit;
            }
        }

        @include respond(sm) {
            grid-template-columns: 100%;
        }


    }

    .open {
        opacity: 1;
        visibility: visible;
        max-height: 120rem;
        height: 100%;
        transition: all 0.5s ease;
    }



    &__wrap {
        display: grid;
        grid-template-columns: repeat(2, .5fr);
        grid-gap: 4rem 4rem;
        padding-bottom: 6.6rem;
        border-bottom: 1px solid rgba(25, 27, 29, 0.3);
        transition: all 0.3s ease-in-out;

        @include respond(md) {
            grid-gap: 3rem 2rem;
        }

        @include respond(sm) {
            grid-template-columns: 100%;
            grid-gap: 3rem;
            padding-bottom: 6rem;
        }
    }

    &__item {
        position: relative;
        overflow: hidden;
        height: 73rem;

        @include respond(sm) {
            height: 51rem;
        }

        &:hover {
            .projects__item-img, img {
                transform: scale(1.8);
                //object-fit: contain;
            }
        }

        //&:nth-child(1),
        //&:nth-child(4),
        //&:nth-child(8),
        //&:nth-child(12) {
        //    grid-column: 1/5;
        //    display: grid;
        //    grid-gap: 4rem;
        //    grid-template-columns: repeat(4, .25fr);
        //
        //    @include respond(sm) {
        //        grid-column: 1/2;
        //        grid-template-columns: 100%;
        //        grid-gap: 0;
        //    }
        //
        //    .projects__item-img-wrap {
        //        grid-column: 3/5;
        //        margin-bottom: -10px;
        //
        //        video {
        //            cursor: url('../../../img/videoCursor.svg'), default !important;
        //        }
        //
        //        @include respond(sm) {
        //            grid-column: 1/2;
        //        }
        //    }
        //
        //    .projects__item-name {
        //        padding: 7rem 0rem 0rem 6rem;
        //        grid-column: 1/2;
        //        grid-row: 1/2;
        //        font-weight: 500;
        //        font-size: 3.6rem;
        //        line-height: 4.3rem;
        //        color: #fff;
        //
        //        @include respond(sm) {
        //            padding: 2rem 2rem 0 2rem;
        //            font-size: 3.2rem;
        //            line-height: 3.8rem;
        //        }
        //    }
        //}
        //
        //&:nth-child(2),
        //&:nth-child(3),
        //&:nth-child(5),
        //&:nth-child(6),
        //&:nth-child(7),
        //&:nth-child(9),
        //&:nth-child(10),
        //&:nth-child(11),
        //&:nth-child(13),
        //&:nth-child(14),
        //&:nth-child(15),
        //&:nth-child(n+14) {
        //    background: none !important;
        //}
        //
        //&:nth-child(2),
        //&:nth-child(3),
        //&:nth-child(5),
        //&:nth-child(11),
        //&:nth-child(13),
        //&:nth-child(14) {
        //    grid-column: span 2;
        //
        //    @include respond(sm) {
        //        grid-column: 1/2;
        //    }
        //}

        &-img-wrap {
            overflow: hidden;
            height: 73rem;

            @include respond(sm) {
                height: 51rem;
            }

            p {
                display: none;
            }

            iframe,
            img, video {
                transition: all 0.3s ease-in-out;
                width: 100%;
                display: block;
                //aspect-ratio: 1/0.55;
                height: 100%;
                object-fit: cover;
            }

            video {
                cursor: url('../../../img/videoCursor.svg'), default !important;
            }
        }

        &-img {
            display: block;
            transition: transform .4s;

        }

        &-header {
            align-items: start;
            cursor: pointer;
            display: flex;
            gap: 1rem;
            color: #FFFFFF;
            position: absolute;
            top: 3.5rem;
            left: 4rem;
            right: 2rem;
            z-index: 3;

            @include respond(sm) {
                top: 4rem;
                left: 2rem;
            }
            &:hover {

                .projects__item-descr {
                    will-change: transform, opacity;
                    transform: translate(0px, 0px);
                    opacity: 1;
                }
            }

            @include respond(sm) {
                font-size: 2rem;
                line-height: 2.6rem;
            }

            .num {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                border: 1px solid #757677;
                color: #757677;
                font-size: 1.6rem;
                gap: 1rem;
                border-radius: 39px;
                padding: 1rem 2rem 0.6rem 2rem;
                margin-top: 0.4rem;
                //width: 5.5rem;
                height: 3.4rem;
            }

            .name {
                font-size: clamp(2.4rem, 5vw, 3.6rem);
                color: white;
            }
        }

        &-descr {
            display: flex;
            position: absolute;
            align-items: flex-end;
            justify-content: space-between;
            bottom: 5rem;
            left: 4rem;
            right: 4rem;
            transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;

            @include respond(sm) {
                display: inherit;
                font-size: 2rem;
                line-height: 2.6rem;
                left: 2rem;
                right: 2rem;
                bottom: 2rem;
            }

            .descr {
                color: #FFFFFF;
                font-size: 2.4rem;
                line-height: 3.4rem;
                max-width: 50%;

                @include respond(sm) {
                    max-width: 80%;
                    font-size: 1.8rem;
                    line-height: normal;
                    max-width: 100%;
                }
                :hover {
                    transform: scale(1.1);
                }
            }

            .icon {
                width: 8rem;
                height: 8rem;
            }


        }

        &-arrow {
            color: white;
            display: inline-flex;
            padding: 15px;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 43px;
            border: 1px solid white;
            background: rgba(255, 255, 255, 0.03);
            backdrop-filter: blur(12px);
            transition: transform 0.3s ease-in-out;


            @include respond(sm) {
                display: none;
                width: 5.5rem;
                height: 5.5rem;
            }

            @include respond(xs) {
                width: 5rem;
                height: 5rem;
            }

            .icon {
                width: 3rem;
                height: 3rem;

                @include respond(sm) {
                    width: 1.15em;
                    height: 3.2rem;
                }
            }
        }
    }
}

.grid-main {
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    grid-gap: 4rem;

    @include respond(sm) {
        grid-template-columns:100%;
    }
    .projects-menu :nth-child(2) {
        grid-column: 2;
    }
}

.main-projects__item-flex {
    padding: 0 1rem;
}

.main-projects__num {
    padding: .5rem 2rem .5rem 2rem;
    @include respond(sm) {
        padding: 0.3rem 1.5rem 0.2rem 1.5rem;;
    }
}