@import './_mixins.scss';

a:hover {
    text-decoration: none;
}

*,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
object,
fieldset,
abbr,
textarea {
    margin: 0;
    padding: 0;
    outline: 0;
}

div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
small,
ol,
ul,
li {
    border: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
video {
    max-width: 100%;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;

    &::placeholder {
        color: inherit;
    }
}

html {
    font-size: 11px;

    @include respond(xxxl) {
        font-size: 10px;
    }

    @include respond(xxl) {
        font-size: 8px;
    }

    @include respond(xl) {
        font-size: 7.5px;
    }

    @include respond(xlg) {
        font-size: 6.6px;
    }

    @include respond(lg) {
        font-size: 6.08px;
    }

    @include respond(sm) {
        font-size: 10px;
    }

    @include respond(xss) {
        font-size: 8px;
    }
}

.container {
    max-width: 187rem;
    width: 100%;
    height: 100%;
    padding: 0 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding-top: 8.3rem;

    @include respond(sm) {
        padding-top: 6.9rem;
    }
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.custom-cursor {
    opacity: 0;
    background: url('../img/play.svg') no-repeat 50% 50%/.5rem .5rem #FF4D01;
    border-radius: 50%;
}

.js-cursor-play {
    cursor: none;
}


.select {
    display: flex;
    align-items: center;
    padding: 1.5rem 3rem;
    margin-right: 2rem;

    background-color: transparent;
    border: 1px solid #191B1D;
    border-radius: 45px;
    cursor: pointer;

    font-size: 2rem;
    line-height: 2.6rem;
    color: #191B1D;

    &__value {}

    &__icon {
        padding-left: 1rem;

        [class$='indicatorContainer'] {
            padding: 0;
        }
    }
}