.arrowBlock {
  pointer-events: none;
  position: fixed;
  transform: scale(2);
  z-index: 11;
}

.cursor__block {
  position: absolute;
}

.custom-circle-cursor {
  z-index: 10;
}

.exclusion {
  mix-blend-mode: difference;
}
