@font-face {
    font-family: 'Stapel';
    src: url('../fonts/Stapel-Light.woff2') format('woff');
    src: url('../fonts/Stapel-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Stapel-Light.woff') format('woff'),
        url('../fonts/Stapel-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: 400;
}

@font-face {
    font-family: 'Stapel';
    src: url('../fonts/Stapel-Medium.woff2');
    src: url('../fonts/Stapel-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Stapel-Medium.woff') format('woff'),
        url('../fonts/Stapel-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: 500;
}