@import '../../style/mixins';

.cta {
    padding: 10rem 0 6.5rem;

    @include respond(sm) {
        padding: 6rem 0;
    }

    &__wrap {
        display: grid;
        grid-template-columns: .25fr .25fr .5fr;
        grid-gap: 4rem;

        @include respond(sm) {
            grid-template-columns: 100%;
        }
    }

    &__person {
        @include respond(sm) {
            display: flex;
            align-items: flex-start;
        }

        &-img {
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            margin-bottom: 4rem;

            @include respond(sm) {
                width: 6rem;
                height: 6rem;
                flex: 0 0 6rem;
                margin-right: 2rem;
                margin-bottom: 0;
            }
        }

        &-descr {
            font-weight: 500;
            font-size: 2.8rem;
            line-height: 3.4rem;

            @include respond(sm) {
                font-size: 2.2rem;
                line-height: 2.6rem;
            }
        }
    }
    
}
.modalAgree {
    font-size: 12px;
    padding: 20px 40px;
}
.modalHeader {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.modalContent {
    width: 100%;
    padding: 10px 5px;
    height: 80vh;
    overflow-y: auto;
}
.modalContent table, .modalContent table tr, .modalContent table tr td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
.modalClose {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}
.form__check .span {
    color: #ff4d01;
    cursor: pointer;
}
.toCenter {
    text-align: center;
    font-weight: 600;
}

.sticky-h2 {
    position: sticky;
    top: 4em;
}

.sticky-person {
    position: sticky;
    top: 6em;
}