@import '../../style/mixins';

.cta {
    padding: 10rem 0 0 0;
    background: #121212;
    @include respond(sm) {
        padding: 4rem 0;
    }

    .container {
        @include respond(sm) {
            padding: 0 2rem;
        }
    }

    &__wrap {
        padding-bottom: 10rem;
        border-bottom: 1px solid hsla(0,0%,100%,.2);
        display: grid;
        grid-template-columns: .25fr .25fr .5fr;
        grid-gap: 4rem;
        color: #FFFFFF;


        @include respond(sm) {
            border-bottom: none;
            padding-bottom: 0;
            grid-template-columns: inherit;
            grid-gap: 0;
            display: flex;
            gap: 4rem;
            flex-direction: column-reverse;
        }

        &-wrapper {
            padding: 6rem 0;
            @include respond(sm) {
                padding: 3rem 0;
            }

            .item {
                align-items: center;
                border-bottom: 1px solid hsla(0,0%,100%,.2);
                cursor: pointer;
                display: flex;
                font-size: 2.8rem;
                font-weight: 500;
                line-height: 3.4rem;
                padding: 1.5rem 0;
                transition: opacity 0.4s;
                :nth-child(1) {
                    margin-right: auto;
                }

                @include respond(sm) {
                    font-size: 2rem;
                }

                &:hover {
                    p {
                        transition: opacity 0.4s;
                        opacity: 0.5;
                    }

                    .hover-flip-arrow span{
                        transition: all 0.3s ease-in-out;
                    }
                    .hover-flip-arrow span{
                        transform: translatex(100%) translatey(100%) ;
                    }

                    .hover-flip-arrow div{
                        transform: translatex(0) translatey(0);
                    }


                }
            }

            .icon {
                height: 3rem;
                margin-left: auto;
                width: 3rem;
            }
        }

        .pb-20 {
            padding-bottom: 1rem;
        }

        .p-style-grey {
            @include respond(sm) {
                font-size: 1.6rem;
            }
        }

        .heading-tertiary{
            @include respond(sm) {
                font-size: 2rem;
            }
        }
    }

    &__person {
        @include respond(sm) {
            display: flex;
            align-items: flex-start;
        }

        &-img {
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            margin-bottom: 4rem;

            @include respond(sm) {
                width: 6rem;
                height: 6rem;
                flex: 0 0 6rem;
                margin-right: 2rem;
                margin-bottom: 0;
            }
        }

        &-descr {
            font-weight: 500;
            font-size: 2.8rem;
            line-height: 3.4rem;

            @include respond(sm) {
                font-size: 2.2rem;
                line-height: 2.6rem;
            }
        }
    }
    
}
.modalAgree {
    font-size: 12px;
    padding: 20px 40px;
}
.modalHeader {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.modalContent {
    width: 100%;
    padding: 10px 5px;
    height: 80vh;
    overflow-y: auto;
}
.modalContent table, .modalContent table tr, .modalContent table tr td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
.modalClose {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}
.form__check .span {
    color: #757677;
    cursor: pointer;
}
.toCenter {
    text-align: center;
    font-weight: 600;
}

.sticky-h2 {
    position: sticky;
    top: 15rem;
}
